.pop_up{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(3px);
}
.filter{
    width: 100%;
    height: 100vh;
    background-color: grey;
    opacity: 0.5;
    position: absolute;
}
.pop_up_window{
   width: 200px;
   height: 150px;
   background-color: aliceblue;
   margin: auto;
   border-radius: 5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   position: relative;
   z-index: 11;

}
.pop_up_window > button{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;

}
.wordbox{
    width: 100%;
    height: 150px;
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}
.word{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

}
.alphabet_box{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}
.alphabetLetter{
    border: 1px solid #000;
    font-size: 25px;
}
.let{
    font-size: 25px;
}

.div{
margin-left: 45%;
margin-top: 10px;

}
.stick-1{
    width: 100px;
    height: 7px;
    background-color: black;
    transform: rotate(45deg); 
    margin-top: -6px;
    margin-left: -11px;
}
.stick-2{
    width: 100px;
    height: 7px;
    background-color: black;
    transform: rotate(-45deg);
    margin-top: 132px;
    margin-left: -82px;
}
.stick-3{
    width: 100px;
    height: 7px;
    background-color: black;
    transform: rotate(-45deg);   
    margin-left: -83px;
    margin-top: -15px;
}
.stick-4{
    width: 100px;
    height: 7px;
    background-color: black;
    transform: rotate(45deg); 
    margin-top: -105px;
    margin-left: -13px;
}
.stick-5{
    width: 7px;
    height: 150px;
    background-color: black;
}
.stick-6{
    border-radius: 50%;
    border: 5px solid black;
    background-color: transparent;
    height: 70px;
    width: 70px;
    margin-left: -35px;
}
.stick-7{
    width: 7px;
    height: 35px;
    background-color: black;
margin-top: -7px;
}
.stick-8{
    width: 200px;
    height: 7px;
    background-color: black;
    margin-left: -48px;
}
.stick-9{
    width: 7px;
    height: 350px;
    background-color: black;
    margin-left: 145px;
    margin-top: -295px;
}
.stick-10{
    width: 270px;
    height: 7px;
    background-color: black;
    margin-left: -70px;
}
.hide{
    display: none;
}
.hidechel{
    opacity: 0.2;
}
.cont{
    padding: 4px;
    border-bottom: #000 2px solid;
}